<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="AttendanceContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Attendance;Persist Security Info=True;User ID=WebUser;Password=f0undry" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Attendance;Persist Security Info=True;User ID=WebUser;Password=f0undry" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
      <customErrors defaultRedirect="/Shared/Error" mode="RemoteOnly" xdt:Transform="Replace" />
  </system.web>
</configuration>
