<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="AttendanceContext" connectionString="Data Source=WIN-32G0QI39S4M;initial catalog=Attendance;user id=website;password=f0undry" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
      <!--<customErrors defaultRedirect="/Shared/Error" mode="RemoteOnly" xdt:Transform="Replace" />-->
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>
</configuration>
